<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Truth About Database</title>
</head>
<body>
    <h1>Hello From Home!</h1>
    <form method="get" th:action="@{search}">
        <label for="search-input">Search: </label>
        <input id="search-input" type="text" name="param" placeholder="Song name, Genre, Artist" th:minLength="1">
        <input type="submit" value="Search">
    </form>
    <div th:unless="${searchResults}">
        <h2>Artists</h2>
        <div th:each="artist : ${artists}">
            <p th:text="${artist.getName()}"></p>
        </div>

        <h2>Songs</h2>
        <div th:each="track : ${tracks}">
            <p th:text="|Track: ${track.getName()} Playtime: ${track.getSongInMinutes()} Price: ${track.getPrice()}|"></p>
        </div>

        <h2>Genres</h2>
        <div th:each="genre : ${genres}">
            <p th:text="${genre.getName()}"></p>
        </div>
    </div>
    <h2 th:if="${searchResults}" th:text="|Search results for: ${searchString}|" ></h2>
    <table th:if="${searchResults}">
        <tr>
            <th>Song name</th>
            <th>Playtime</th>
            <th>Price</th>
            <th>Album</th>
            <th>Genre</th>
            <th>Artist</th>
        </tr>

        <tr th:each="searchResult : ${searchResults}">
            <td th:text="${searchResult.getName()}"></td>
            <td th:text="${searchResult.getSongInMinutes()}"></td>
            <td th:text="${searchResult.getPrice()}"></td>
            <td th:text="${searchResult.getAlbum()}"></td>
            <td th:text="${searchResult.getGenre()}"></td>
            <td th:text="${searchResult.getArtists()}"></td>
        </tr>
    </table>
</body>
</html>